[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "==0.24.0rc2"
dash-html-components = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "*"
tellurium = "*"
"beautifulsoup4" = "*"
pyorbital = "*"
openpyxl = "*"
xlwings = "*"
joblib = "*"
multiprocessing = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "2.7"
